@model MovieViewModel 

<div class="container">
    <div class="row" style="min-height:min-content">
        <div class="col-sm-8">
            <section class="mb-3 card">
                <div class="card-header">
                    <h4><strong>@Model.original_title</strong></h4>
                </div>
                <div class="card-body" style="height:315px">
                    <p style="font-style:italic">@Model.genres</p>
                    <p>@Model.overview</p>                                      
                </div>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="mb-3 d-none d-sm-block">
                <img src="@Model.poster_path" height="400"/>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <section class="mb-3 card">
                <div class="card-header">
                    <h5><strong>Datum</strong></h5>
                </div>
                <div class="card-body text-right">
                    <p>@Model.release_date</p>
                </div>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="mb-3 card">
                <div class="card-header">
                    <h5><strong>Speelduur</strong></h5>
                </div>
                <div class="card-body text-right">
                    <p>@Model.runtime min.</p>
                </div>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="mb-3 card">
                <div class="card-header">
                    <h5><strong>Score</strong></h5>
                </div>
                <div class="card-body text-right">
                    <p>@Model.popularity</p>
                </div>
            </section>
        </div>
    </div>
</div>