@model IEnumerable<AllMoviesSeriesViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string Keyword = (string)ViewData["genre"];
    string baseUrl = (string)ViewData["Base"];
    string fileSize = (string)ViewData["File"];
}

<h2 class="w-25" color:#fff;">@Keyword</h2>


@if (Model.All(p => p == null))
{
    <h2 class="text-capitalize font-weight-bold container" style="text-align:left; padding-right:4px;">Not Result Found</h2>
}
else
{

    <div class="card-deck">
        @foreach (var ms in Model)
        {
            @if (ms.MovieOrSerie != null)
            {
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card mb-3">
                        <img src="@baseUrl@fileSize@ms.poster_path"
                             class="card-img-top"
                             alt="..." />
                        <div class="card-body  text-center">
                            <div class="d-flex bg-dark text-white">
                                <div class="p-2  flex-fill alert-info">@ms.vote_average</div>
                                @if (ms.MovieOrSerie == "Movie")
                                {
                                    <div class="p-2  flex-fill">@ms.release_date.Value.Year</div>

                                }
                                else
                                {
                                    <div class="p-2  flex-fill">Total Seasons: @ms.number_of_seasons</div>
                                    <div class="p-2  flex-fill">Episodes: @ms.number_of_episodes</div>
                                }

                            </div>
                            <p class="card-text" style="height:128px">
                                @*max char is 200*@
                                @if (ms.overview.Length <= 200)
                                {
                                    @ms.overview
                                }
                                else
                                {
                                    @ms.overview.Substring(0, 200)<span>...</span>
                                }
                            </p>
                        </div>
                        @if (ms.MovieOrSerie == "Movie")
                        {
                            <div class="card-footer text-center">
                                <a asp-controller="movie" asp-action="ViewFilmSerie" asp-route-name="@ms.original_title" asp-route-movietype="@ms.MovieOrSerie" class="btn btn-primary">See Movie</a>
                            </div>

                        }
                        else if (ms.MovieOrSerie == "Serie")
                        {
                            <div class="card-footer text-center">
                                <a asp-controller="movie" asp-action="ViewFilmSerie" asp-route-name="@ms.original_name" asp-route-movietype="@ms.MovieOrSerie" class="btn btn-primary">See Serie</a>
                            </div>
                        }


                    </div>
                </div>

            }



        }
    </div>



}