@model IEnumerable<AllMoviesSeriesViewModel>
@*


*@
@{


}

<h1> My Library UnWatched Movies & Tv-Series</h1>
<a asp-area="" asp-controller="Movie" asp-action="Add" class="btn btn-primary">Add movie</a>


@if (Model.Any())
{
    <p>There were no Movies or Tv-Serie. First you need to add some movies or series</p>
}

else
{
    <div class="card-deck">

        @foreach (var ms in Model)
        {
            <div class="col-sm-6 col-lg-4 mb-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="@ms.poster_path" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">@ms.title</h5>
                        <p class="card-text">@ms.overview</p>
                        <a href="#" class="btn btn-primary">See more info</a>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="movie" asp-action="ViewFilmSerie" asp-route-name="@ms.original_title" asp-route-movietype="@ms.MovieOrSerie" class="btn btn-primary">See Movie</a>
                        <a asp-controller="Movie" asp-action="Delete" class="btn btn-primary">Remove from library</a>
                    </div>

                </div>
            </div>



        }

    </div>


}


