@model IEnumerable<SerieFilmListView>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<h1> My Movies & Tv-Shows list</h1>
@if (Model.Count() == 0)
{
    <p>There were no Movies or Tv-Shows. First you need to add some movies or tv-shows</p>
}
else
{
    <div class="card-deck">

        @foreach (var ms in Model)
        {

            <div class="col-sm-6 col-lg-3 mb-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="@ms.FilmUrl" alt="Card image cap">
                    <div class="card-body text-center">
                        @{
                            string serie = string.Empty;
                            if (ms.AantalAfleveringen != 1)
                            {
                                serie = "Serie";
                            }
                            else
                            {
                                serie = "Movie";
                            }
                        }

                        @if (serie == "Serie")
                        {
                            <a asp-controller="movie" asp-action="ViewFilmSerie" asp-route-name="@ms.OriginalTitle" asp-route-movietype="@serie"><h5 class="card-title">@ms.OriginalTitle</h5></a>

                        }
                        else
                        {
                            <a asp-controller="movie" asp-action="ViewFilmSerie" asp-route-name="@ms.OriginalTitle" asp-route-movietype="@serie"><h5 class="card-title">@ms.OriginalTitle</h5></a>

                        }
                    </div>

                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@ms.Id">
                            Edit
                        </button>
                        <a asp-controller="Movie" asp-action="ConfirmDelete" asp-route-id="@ms.Id" class="btn btn-danger">Delete</a>

                        <div id="@ms.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    @using (Html.BeginForm("Edit", "Movie", FormMethod.Get))
                                    {
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label for="AmountWatched">Amount Watched :</label>
                                                <input type="text" class="form-control" id="gekeken" name="gekeken" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="AmountWatched">Score out of 10 :</label>
                                                <input type="text" class="form-control" id="score" name="score" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" id="id" name="id" value="@ms.Id" placeholder="">
                                            </div>
                                            <input type="submit" value="Edit" />                                           
                                        </div>
                                    }                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    @*edit modal komt hier nog boven bij*@
                </div>

            </div>
        }
    </div>
}


